.rpg-item {
  display: inline-block;
  width: auto;
  // max-width: auto;
  height: auto;
  // max-height: auto;
  margin: auto;
  padding: 0;
  text-align: center;

  img {
    border: 3px solid map-get($greavestrap_palette, magic);
  }
}
